
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .desc{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body{
        background-color:#FBCAEF;
    }
    .html{
        font-size: larger;
        color: blue;
    }
    .git{
        font-size: smaller ;
        color: blue;
    }
.foto img,p{
    display: inline-block;
    
}
.foto p{
    padding: 35px;
    margin: 35px;
}
#eu{
    width: 300px;
    padding: 10px;
    background-color: blueviolet;
   
}
.foto h1{
    text-align: center;
}
.links {
    padding: 10px;  
    margin: 10px;
}
li{
    padding: 10px;
}